<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.crossboard.agent</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/youruser/bin/crossboard</string>
    <string>-k</string>
    <string>meow</string>
    <string>-f</string>
  </array>

  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>

  <key>WorkingDirectory</key>
  <string>/Users/uri</string>

  <key>StandardOutPath</key>
  <string>/Users/youruser/Library/Logs/crossboard.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/youruser/Library/Logs/crossboard.err.log</string>
</dict>
</plist>
